generated_scraper/*
!generated_scraper/.gitkeep
!cache/.gitkeep
.gemini/.env
.windsurf/*
node_modules/
docs/datahen_documentations/
auto-chain.log

# Folders
z_other
slides
cache
original_scraper
example_scraper_project
conversations